#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-title{
  color: #724DB3;
}


.section-form-user{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.section-form-title, .section-list-title{
  color: #9866EE;
}

button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #6D49AA;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover{
  background-color: #573a88;
}

.section-list-table {
  border-collapse: collapse;
  margin-bottom: auto;
  width: 100%;
  table-layout: auto;
}

th,
td {
  padding: 4px;
}

th {
  background-color: #573A88;
  color: white;
}

th a {
  color: white;
  text-decoration: none;
}

th a:hover {
  color: #cccccc;
  text-decoration: none;
  width: auto;
}

tr:nth-child(even) {
  background-color: #dcdcdc;
}

.section-list-td{
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content:  center;
}